<h1>New Blog Page</h1>
<!-- Add simple links to home and blogs pages -->
<a href="/">Home</a>
<a href="/blogs">Blogs page</a>

<hr>
<!-- Add simple form for creating a new blog -->
<form action="/blogs" method="POST">
    <input type="text" name="blogTitle" placeholder="title">
    <input type="text" name="blogBody" placeholder="body">
    <button>Submit</button>
</form> 